<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>The email address you eneted is Valid!!</p>
    <h2>Email Addresses Entered:</h2>
    <table>
    {% for thing in emails %}
    <tr>
        <td>{{thing['email']}}</td>
        <td>{{thing['created_at']}}</td>
    </tr>

    {% endfor %}
    </table>
</body>
</html>